[submodule "speechset"]
	path = speechset
	url = https://github.com/revsic/speechset
[submodule "encodec"]
	path = encodec
	url = https://github.com/facebookresearch/encodec
[submodule "hifi-gan"]
	path = hifi-gan
	url = https://github.com/jik876/hifi-gan
